.cardNewsBlog .card-footer{
    border-top: none !important;
}

.cardNewsBlog .card-footer button i{
    font-size: 45px;
    color: #666666 !important;
}

@media screen and (max-width:1052px){
    .cardNewsBlog{
        min-width: 30rem;
    }
}

#datilsNewsBlog{
    /* font-family: 'Helvetica' !important; */
    font-family: 'Poppins';
} 

#datilsNewsBlog .modal-body img{
    max-width: 1000px;
}

#datilsNewsBlog .modal-body .tituloNewsBlogModal{
    font-size: 1.1rem;
    color: #666666;
    font-weight: bolder !important;
}

.titleSpan {
    font-weight: bolder;
    font-size: 2.5rem !important;
    text-align: center;
    color: black;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .form-group-calendario {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        max-width: none !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    .form-group-titulo {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        max-width: none !important;
    }
}